*.dart linguist-detectable=true

*.C++ linguist-detectable=false

*.swift linguist-detectable=false

*.html linguist-detectable=false

*.C linguist-detectable=false

*.CMake linguist-detectable=false

